@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
                 url('OpenSans-Light-webfont.woff') format('woff'),
                 url('OpenSans-Light-webfont.ttf') format('truetype'),
                 url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
                 url('OpenSans-Regular-webfont.woff') format('woff'),
                 url('OpenSans-Regular-webfont.ttf') format('truetype'),
                 url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


html {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 18px;
    font-size: 16px;
    background-color: #fff;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

a:link, a:visited {
    text-decoration: none;
    color: #414CBB;
}

a:hover {
    text-decoration: underline;
    color: #414CBB;
}

#header {
    background-color: #ebeff2;
    padding: 20px;
    text-align: center;
}

#navigation {
    float: left;
    width: 25%;
    font-size: 14px;
}

#navigation label {
    display: block;
    cursor: pointer;
}

#options {
    padding: 10px;
    border: 1px solid  #ebeff2;
    margin: 10px 0;
}

#main {
    float: left;
    width: 75%;
}



h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: 300;
    overflow: hidden;
}
h1, h2 {
    font-weight: 300;
}
h1 span, h2 span, h3 span, h4 span, h5 span {

}

h1 {
    line-height: 26px;
    font-size: 26px;
}
h2 {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ebeff2;
    margin-left: 20px;
}
h3 {
    font-size: 20px;
    line-height: 22px;
    padding: 5px;
    background-color: #ebeff2;
}
h4 {
    font-size: 18px;
    line-height: 20px;
    padding: 5px;
    margin-top: 5px;
    background-color: #ebeff2;
}
h5 {
    font-size: 16px;
    line-height: 20px;
}

p {
    color: #666;
    font-size: 14px;
    line-height: 22px;
    margin: 5px 0 0 5px;
}


pre, :not(pre) > code {
    font-size: 14px;
    line-height: 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    border-radius: 3px;
}
:not(pre) > code {
    padding-left: 5px;
    padding-right: 5px;
}


.nav-gconstant-level, .nav-function-level, .nav-gvar-level {
    padding-left: 0;
}

.nav-namespace {
    font-weight: bold;
}

.nav-class-level {
    padding-left: 0;
}


.short {
    font-weight: 300;
    color: #666;
    margin-left: 10px;
}

label.section {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 0;
}

ul {
    list-style: none;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
}

li {
    padding: 5px 0;
    border-bottom: 1px solid #ebeff2;
}

ul.namespace-level {
   padding-left: 0;
}

li.namespace-level {
    border-bottom: 0;
}

li.class {
    margin-top: 20px;
    border-bottom: 2px solid #ebeff2;
}

ul.sub-level li:last-child, ul.params li:last-child {
    border-bottom: 0;
}
ul.sub-level .var-name {
    font-weight: normal;
}
ul.sub-level h4 {
    font-weight: normal;
    background-color: transparent;
    padding: 0;
    font-size: 16px;
    display: inline;
}
ul.sub-level li.variable:before {
    content: '\21B3';
    color: #999;
    display: inline-block;
    padding-right: 5px;
    font-size: 15px;
}

ul.params p, ul.sub-level p {
    margin-left: 0;
}

.class-body, .interface-body {
    padding: 0 20px;
    overflow: hidden;
}


.labels {
    line-height: 10px;
    margin: 5px 0 10px 0;
}

.label {
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 2px;
    color: #fff;
    background-color: #666;
    padding: 2px 5px;
    line-height: 12px;
    text-shadow: rgba(0,0,0,0.2) 1px 1px;
    margin-right: 5px;
}

.label.plain {
    text-transform: none;
    font-size: 11px;
}

.fields a {
    margin-left: 5px;
}

.class-extend {
    background-color: #8C92CE;
}

.class-implement {
    background-color: #9971FF;
}

.class-abstract, .func-abstract {
    background-color: #e0e0e0;
    color: #000;
}

.class-final, .func-final {
    background-color: #444;
    color: #fff;
}

.func-sig {
    font-weight: normal;
}

.func-constructor {
    background-color: #5E839D;
}

.func-public, .var-public {
    background-color: #5E9D66;
}

.func-protected, .var-protected {
    background-color: #E98900;
}

.func-private, .var-private {
    background-color: #CD0000;
}

.func-static, .var-static {
    background-color: #71C5FF;
    color: #000;
}

.func-return {
    font-weight: normal;
    color: #666;
}

.var-default {
    font-weight: normal;
    color: #B03C0A;
}

.var-required, .func-required {
    background-color: #9D645E;
}

.func-return-value {
    padding-left: 20px;
}


.var-type {
    font-weight: normal;
    color: #666;
}





.index li {

}

.index .index-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.index .namespaces {
    padding-right: 20px;
}


.index .classes > li,
.index .namespaces > li{
    border-bottom: 0;
}


.class h2, .interface h2 {
    padding-top: 20px;
}


.class ul {
    border-left: 1px solid #ebeff2;
}


.varmap {
    float: right;
    background-color: #fff;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid #ebeff2;
    padding: 5px;
    margin-left: 5px;
    background-color: #fff;
}

.varmap ul {
    border-left: 0;
    margin-bottom: 5px;
    padding-left: 14px;
}

.varmap li {
    border-bottom: 0;
    padding: 0;
}
.varmap li:before {
    content: '\21B3';
    color: #999;
    display: inline-block;
    padding-right: 5px;
    font-size: 15px;
}
.varmap li:first-child:before {
    content: '\21B3';
}
.varmap > ul {
    padding-left: 0;
}

@media (max-width: 768px) {
    #navigation {
        float: none;
        width: auto;
        margin: 0 20px;
    }
    #main {
        float: none;
        width: auto;
        margin: 0 20px;
    }
    ul.class-level {
       padding-left: 0;
    }

    h2 {
        margin-left: 0;
    }
    .varmap {
        display: none;
    }
}

.main-hidden {
    display: none;
}
.nav-hidden {
    display: none;
}
.protected-hidden {
    display: none;
}
.private-hidden {
    display: none;
}
.inherited-hidden {
    display: none;
}